<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a Poll</h1>

    <input id="question" placeholder="Enter your question"><br><br>
    <input id="option1" placeholder="Enter option 1"><br><br>
    <input id="option2" placeholder="Enter option 2"><br><br>
    <button onclick="submitPoll()">Submit Poll</button>

    <script>
    function submitPoll() {
        console.log("Button clicked");

        const data = {
        question: document.getElementById("question").value,
        option1: document.getElementById("option1").value,
        option2: document.getElementById("option2").value
        };

        console.log(data);

        fetch("/submit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
        },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            console.log(result);
        })
        .catch(error => {
            console.error("Error:", error);
    });
}
</script>
</body>
</html>